@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

body:has(.no-scroll) {
  overflow: hidden !important;
}

.flip-card {
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: right center;
  transition: transform 1.5s;
}

.flip-card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}

.pseudo-p {
  padding-left: calc(100vw - 1300px);
  padding-right: calc(100vw - 1300px);
}

.gradient-bg {
  background: linear-gradient(
    90deg,
    #ae207c 0.84%,
    #f3000b 24.14%,
    #ff9811 95%
  );
}

.secondary-gradient-bg {
  background: linear-gradient(
    158deg,
    #ae207c 0.84%,
    #f3000b 24.14%,
    #ff9811 95%
  );
}

.main-gradient {
  background: -webkit-linear-gradient(
    45deg,
    #ae207c 0.84%,
    #f3000b 47.7%,
    #ff9811 96.55%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 0.2rem;
  padding-bottom: 0.2rem;
}

.text-gradient {
  background: -webkit-linear-gradient(45deg, #0194a3 47.7%, #f8a613 96.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 0.2rem;
  padding-bottom: 0.2rem;
}

.text-purple-gradient {
  background: -webkit-linear-gradient(
    89deg,
    #ae207c 0.84%,
    #f3000b 47.7%,
    #ff9811 96.55%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 0.2rem;
  padding-bottom: 0.2rem;
}

/* HIDDEN SCROLL BAR */
.hidden-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

#changingWord {
  display: inline-block;
}

@keyframes changeWord {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 0.7;
  }
  20%,
  80% {
    opacity: 1;
  }
  75%,
  85% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer base {
  .app-container {
    @apply max-w-[1300px] mx-auto px-7 480:px-8;
  }

  .mobile-container {
    @apply min-w-[320px];
  }

  h1 {
    @apply font-semibold -tracking-[1px] 640:-tracking-[3px] text-neutral-400 text-[38px] 640:text-[64px] leading-[48px] 960:text-[96px] 640:leading-[78px] 960:leading-[105px];
  }

  h4 {
    @apply font-semibold -tracking-[2px] 640:-tracking-[3px] text-neutral-400 text-[38px] 640:text-[54px] leading-[40px] 640:leading-[60px] 768:text-[64px] 768:leading-[70px];
  }

  h5 {
    @apply font-semibold -tracking-[1px] 640:-tracking-[2px] text-neutral-400 text-[38px] leading-[44px] 640:text-[44px] 640:leading-[54px] 1180:text-[54px] 1180:leading-[60px];
  }

  h6 {
    @apply text-[20px] font-semibold text-neutral-400;
  }

  p {
    @apply text-black font-normal;
  }

  .title {
    @apply text-[33px] 640:text-[54px] 1180:text-[70px] leading-[40px] 640:leading-[60px] 1180:leading-[80px];
  }

  .subtitle {
    @apply text-neutral-740 text-base 768:leading-[30px] 768:text-lg font-normal;
  }

  ul.list {
    @apply my-1 list-disc pl-5 640:pl-7;
  }

  li {
    @apply text-base my-2;
  }
}

@layer components {
  select,
  textarea,
  .input {
    @apply _input min-h-[44px];
  }

  ._input {
    @apply block appearance-none rounded-lg border border-neutral-100 bg-transparent px-3.5 text-neutral-1000 placeholder-neutral-400 transition-colors focus:border-neutral-400 focus:outline-none focus:ring-2 focus:ring-neutral-70;
  }

  label {
    @apply mb-2 text-left text-sm text-neutral-400;
  }

  button,
  input {
    @apply disabled:opacity-50;
  }

  .nav_item {
    @apply tracking-[0.1px] cursor-pointer relative z-10 px-2 1180:px-4 font-[540] flex h-full my-auto text-sm text-black hover:text-primary-main;
  }

  .mobile_menu_item {
    @apply w-full py-2 px-8 text-sm font-medium x-between hover:text-primary-main;
  }

  .footer_link_item {
    @apply block hover:text-opacity-60 w-fit mx-auto 768:mx-0 py-[9px] text-white text-opacity-100 font-medium text-sm 640:text-sm;
  }

  .footer_links_header {
    @apply text-neutral-500 font-semibold text-sm 640:text-sm;
  }

  .input-error {
    @apply mt-1 text-left text-sm text-red-500;
  }

  button,
  a,
  .no-highlight {
    @apply focus:outline-none;
    -webkit-tap-highlight-color: transparent !important;
  }

  .button {
    @apply transition-colors text-xs 560:text-sm font-semibold duration-300 rounded-[10px] px-4 560:px-6 h-10 560:h-11;
  }

  .outline-button {
    @apply border border-neutral-100 hover:border-neutral-400 text-black bg-white button;
  }

  .primary-button {
    @apply text-white button hover:bg-primary-dark bg-primary-main;
  }

  .alt-button {
    @apply smooth block h-11 rounded-full px-4 text-center text-sm transition-colors focus:ring-2;
  }

  .primary_button {
    @apply alt-button bg-primary-main font-medium text-white ring-primary-main ring-opacity-30 hover:bg-primary-main;
  }

  .secondary_button {
    @apply alt-button border border-transparent bg-neutral-70 font-semibold text-neutral-400;
  }

  .white_button {
    @apply alt-button border border-neutral-200 bg-white font-semibold text-neutral-400;
  }

  .dark_button {
    @apply alt-button border border-black bg-black px-4 text-center text-sm font-medium text-white transition-colors hover:bg-neutral-900;
  }

  .text-link {
    @apply text-primary-main font-medium;
  }

  .spinner {
    @apply h-5 w-5 animate-spin;
  }

  .skeleton {
    @apply animate-pulse rounded-md bg-neutral-300;
  }

  .skeleton-error {
    @apply rounded-md bg-red-100;
  }

  .card {
    @apply w-full rounded-[10px] border border-neutral-310 p-3 640:p-4;
  }
}

@layer utilities {
  .x-between {
    @apply flex align-middle justify-between;
  }

  .y-between {
    @apply flex flex-col align-middle justify-between;
  }

  .y-center {
    @apply flex flex-col align-middle justify-center;
  }

  .x-center {
    @apply flex align-middle justify-center;
  }

  .smooth {
    @apply duration-[150ms] ease-linear;
  }
}
